/* My Portfolio - CSS Styleshee */

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d5C61;
    --secondary-color: #379683;
    --third-color: #7395AE;
    --fourth-color: #557A95;
    --fifth-color: #B1A296;
    --light-color: lightgrey;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    background-color: var(--light-color);
    line-height: 1.5;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

/* Header Styles */
header {
    padding: 20px 35px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    color: var(--secondary-color);
    background-color:var(--primary-color);
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 40px;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: auto;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-align: center;
    margin-right: auto;
}

/* Navigation Styles */
header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav a {
    padding: 10px 15px;
    font-weight: lighter;
    justify-content: space-around;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Styles */
.hero {
    background-image: url("../Images/background-campsafe.jpg.crdownload");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    border: 5px solid var(--primary-color);
    min-height: 30vh;
    padding: 2% 6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-left: 10vw;
}

.hero img {
    display: flex;
    margin-right: auto;
    width: 20%;
    border-radius: 10px;
    opacity: 0.8;
    align-items: left;
    vertical-align: bottom;
}

.hero img:hover {
    opacity: 1;
}

.hero h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 5px 10px;
    font-size: 30px;
    line-height: 1.2;
    display: center;
}

/* About Me Section */
.page-wrap {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
    

.main-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.main-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--secondary-color);
    font-size: absolute;
    line-height: 1.1;
}

.main-section > div {
    flex: 0 0 75%;
}

.main-section p {
    margin-bottom: 20px;
    color: black;
}

/* My Work/Portfolio Section */
/* THIS SECTION NEEDS MOST HELP */
.flex-container {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
}

.flex-item {
    border: 5px solid var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex: 0 1 auto;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    font-size: 15px;
}

.flex-item h3 {
    text-align: bottom;
    text-decoration: none;
    color: black;
}

/* My Work/Portfolio Images */
.Run-Buddy-Project {
    background-image: url("../Images/run_buddy_final.PNG");
}

.Horiseon-Project {
    background-image: url("../Images/Horiseon_final.PNG");
}

.Robot-Gladiators-Project {
    background-image: url("../Images/robot_gladiator_Pic.jpg");
}

/* Contact Me Styles */
.contact-me address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact-me address a {
    color: var(--secondary-color);
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: 100% 3.2px;
    background-position: bottom;
    transition: all .25s ease-in;
    margin: 0 3.2px 1.6px;
    display: inline-block;
}

.contact-me address a:hover {
    background-size: 100% 88%;
    color: var(--primary-color);
}

/* Footer Styles */
footer {
    padding: 30px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: bottom;
    font-size: 20px;
}

/* Media Query for Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header nav {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav a {
        font-size: 20px;
        text-shadow: 0 0 10px rgba (0, 0, 0, 0.5)
    }

    header nav a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero {
        width: 100%;
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}